.productCardContainer {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #FFB6C1;
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    color: #C71585;
    min-height: 150px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;

    flex: auto;

    min-height: 400px;
    height: max-content;
    width: 300px;
}

.productCardImg {
    width: 50%;
    height: 40%;
}

.ProductCardBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProductCardName {
    text-align: center;
}


.ProductCardBtn {
    border-radius: 8px;
    border: none;
    color: #C71585;
    background-color: #FFB6C1;
}

/* @media (max-width: 767.98px) {
  .productCardContainer {
    flex: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .productCardContainer {
    flex: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .productCardContainer {
    flex: calc(10% - 15px);
  }
} */