.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.homeContainerTitle {
    color: pink;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(235, 145, 160);
}

.homeContainerDesc {
    color: pink;
    font-size: 20px;
}