.productsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 20px;
    color: pink;
    
}

.productsContainerTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(235, 145, 160);
}

.productsContainerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}